<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>检查作业</title>
		<link rel="import" href="./common/header.html?__inline">
		<link rel="stylesheet" type="text/css" href="../static/css/checkWork.scss">
	</head>
	<body>
		<div class="selectDIV">
			
		</div>
		<div class="content">
			<div class="nav">
				<div class="title" onclick="pendingAudit()">待审核</div>
				<div class="title"onclick="nopass()">不通过</div>
				<div class="title"onclick="pass()">通过</div>
				<div class="title"onclick="nosubmit()">未提交</div>
			</div>
			<div class="contentDIV">
				<div class="content-header">
					<div class="buttondiv">
						<div class="btn">上一页</div>
						<div class="btn">下一页</div>
					</div>
					<div class="contentdiv">
						
						<div class="nameandtel">
							呆呆在减肥<br>
							18875010716
						</div>
						<div class="avatar">头像</div>
					</div>
				</div>
				<div class="content-check">
					<div class="title">瘦前打卡</div>
					<div class="check">
						<div class="body">11</div>
						<div class="helf">22</div>
						<div class="checkcontent">33</div>
					</div>
					<div class="title">瘦后	打卡</div>
					<div class="check">
						<div class="body">11</div>
						<div class="helf">22</div>
						<div class="checkcontent">33</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<link rel="import" href="./common/footer.html?__inline">
	<script type="text/javascript" src="../static/js/checkWork.js"></script>
	<script type="text/html" src="https://github.com/vuejs/awesome-vue#libraries--plugins"></script>
</html>
