<!DOCTYPE html>
<html>
<head>
<link rel="import" href="./common/header.html?__inline">
<title>邀请朋友</title>
<link rel="stylesheet" type="text/css" href="../static/css/inviteFriend.scss">
</head>
<body id="v-invite-friend">
	<div class="content">
		<!--header-->
		<div class="top">
			<div class="img-div">
				<div class="img" align="right">
					<img src="../static/images/tudemo.jpg" style="width: 1.5rem; height: 2rem;">
				</div>
			</div>
			<div class="right-div">
				<div class="peoNum">
					35<span>人</span>
				</div>
				<div class="text">
					通过我的邀请卡<br>
					加入不瘦就出局
				</div>
			</div>
		</div>
		<!--说明-->
		<div class="remark">
			保存下方你的<span>专属邀请卡</span>分享给好友，邀请更多的人加入一起改变。
		</div>
	</div>
</body>
</html>
<link rel="import" href="./common/footer.html?__inline">
<!--<script type="text/javascript" src="../static/js/iniviteFriend.js"></script>-->



