<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="../static/css/soEmergency.scss">
		<link rel="import" href="./common/header.html?__inline">
		<title>问题咨询</title>
	</head>
	<body class="bgcolor-white">
		<!--<div class="tixing-shezhi">
			<div class="tixing-tubiao">
				<i class="iconfont icon-weixin bluecolor"></i>
			</div>
			<div class="text color-96">
					打卡提醒			
			</div>
			<div class="tixing-des color-96">
				健康饮食，规律运动有益于瘦身，你可自定义微信号<br/>
				提醒你每日打卡时间
			</div>
		</div>-->
		<div class="wentizixun">
			<div class="weixin-tubiao">
				<i class="iconfont icon-weixin bluecolor"></i>
			</div>
			<div class="text color-96">
					问题咨询		
			</div>
			<div class="zixun-des color-96">
				关于契约瘦身，不瘦学院使用前和使用中遇到的<br/>
				问题,可进微信群向我们咨询
			</div>
		</div>
		
		<div class="fullpage-pop-body text-center">
			<img width="80%;" alt="若二维码不显示，请与Run妹联系" src="../static/images/qun-code.jpg">
			<span>客服电话:185-2150-3626(工作日9:00-20:00)</span>
		</div>
		<!--<div class="erweima">
			<img src="../static/images/avatar.jpg">
		</div>-->
	</body>
	<link rel="import" href="./common/footer.html?__inline">
</html>
